*, *::before, *::after {
  box-sizing: border-box;
}

:root {
    --main-color:#619077;
    --secondary-color:#a47148;
    /* --text-color:#333; */
    --text-color:#FFF;
    --header-color:#FFF;
}

body {
    height: 100vh;
    background-color: var(--main-color);
    color: var(--text-color);
    background-image: url("assets/pirate-background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
}

.main-header {
    color: var(--header-color);
    text-align: center;
    margin: 1em;
    font-size: 2em;
    font-weight: 800;
    text-shadow: 4px 4px 10px #000000;
}

.language-toggle {}

.main-nav {
    border-bottom: 1px solid #FFF;
    font-size: 1.2em;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-item {
    background-color: var(--secondary-color);
    border: 1px solid #FFF;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    padding: 0 1em;
    width: 30%;
    text-align: center;
    line-height: 2em;
}

.main-content {
  padding-bottom: 4em;
}

.menu-card {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--secondary-color);
    margin: 5%;
    padding: 1em;
    border-radius: 10px;
    aspect-ratio: 2/1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #FFF;
}

.menu-card-header {
    color: var(--header-color);
    text-shadow: #000 1px 0 10px;
    font-size: 2em;
    font-weight: 800;
}

.menu-card-text {
  color: var(--text-color);
  text-shadow: #000 1px 0 10px;
  font-size: 1.2em;
}

.menu-card-price {
  color: var(--text-color);
  text-shadow: #000 1px 0 10px;
  font-size: 1.5em;
}

.menu-card-price::after {
  content: " SEK"
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3em;
    background-color: var(--secondary-color);
    border-top: 1px solid #FFF;
}

.container {
    position: fixed;
    bottom: 0;
    width: 500px;
    height: 42px;
  }
  
  .form {
    display: flex;
    flex-direction: row;
  }
  .search-field {
    width: 50%;
    padding: 10px 35px 10px 15px;
    border: none;
    border-radius: 100px;
    outline: none;
  }
  
  .search-button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -33px;
  }
  
  .search-button img {
    width: 20px;
    height: 20px;
    object-fit: cover;
  }

  /* .container img {
    width: 20px;
    height: 20px;
    object-fit: cover;
} */

    .flags {
        width: 50vw;
    }

    .flags img {
        margin-top: 2px;
      margin-left: 10%;
      width: 35px;
      height: 30px;
      object-fit: cover;
      border-radius: 30%;
    }