*, *::before, *::after {
  box-sizing: border-box;
}

:root {
    --main-color:#619077;
    --secondary-color:#938A76;
    /* --secondary-color:#a47148; */
    /* --text-color:#333; */
    --text-color:#FFF;
    --header-color:#FFF;
}

body {
    height: 100vh;
    background-color: var(--main-color);
    color: var(--text-color);
    background-image: url("assets/pirate-background.jpg");
    background-repeat: repeat-y;
    background-size: contain;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
}

header {
  position: fixed;
  width: 100%;
  background-color: var(--secondary-color);
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  line-height: 3em;
  position: relative;
}

.main-header {
    color: var(--header-color);
    text-align: center;
    margin: 1em;
    font-size: 2em;
    font-weight: 800;
    text-shadow: 4px 4px 10px #000000;
}

.tab-icon {
  font-size: 3rem;
  font-weight: 600;
  text-shadow: #000 1px 0 10px;
}

.tab-amount{
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 4px 4px 10px #000000;
  cursor: pointer;
  margin-top: .5em;
}

.list-container {
  background-color: #938a76ea;
  border: 1.8px solid white;
}

.tab-list {
  background-color: #938a76ea;
  color: white;
  padding-left: 0.5em;
  border-radius: 1px;
  font-weight: bolder;
}

.total-tab-price {
  padding-left: 0.5em;
  font-weight: bolder;
  font-size: large;
}

.main-nav {
    border-bottom: 1px solid #FFF;
    font-size: 1.2em;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-item {
    background-color: var(--secondary-color);
    border: 1px solid #FFF;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    padding-top: 0.2em;
    width: 30%;
    text-align: center;
    line-height: 2em;
    cursor: pointer;
}

.main-content {
  padding: 10.5em 0 4em 0;
}

.menu-card {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--secondary-color);
    margin: 5%;
    padding: 1em;
    border-radius: 10px;
    aspect-ratio: 2/1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #FFF;
}

.menu-card-header {
    color: var(--header-color);
    text-shadow: #000 1px 0 10px;
    font-size: 2em;
    font-weight: 800;
}

.menu-card-text {
  color: var(--text-color);
  text-shadow: #000 1px 0 10px;
  font-size: 1.2em;
}

.order-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu-button {
  line-height: 3em;
  padding: 0 1em;
  color: var(--text-color);
  background: linear-gradient(0.25turn, #938A76, #443);
  border: 1px solid #FFF;
  border-radius: 5px;
  cursor: pointer;
}

.menu-card-price {
  color: var(--text-color);
  text-shadow: #000 1px 0 10px;
  font-size: 1.5em;
}

.menu-card-price::after {
  content: " SEK"
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3em;
    background-color: var(--secondary-color);
    border-top: 1px solid #FFF;
}

.container {
    position: fixed;
    bottom: 0;
    width: 500px;
    height: 42px;
  }
  
  .form {
    display: flex;
    flex-direction: row;
  }
  .search-field {
    width: 50%;
    padding: 10px 35px 10px 15px;
    border: none;
    border-radius: 100px;
    outline: none;
  }
  
  .search-button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -33px;
  }
  
  .search-button img {
    width: 20px;
    height: 20px;
    object-fit: cover;
  }

    .flag {
        width: 50vw;
    }

    .flag img {
        margin-top: 2px;
      margin-left: 10%;
      width: 35px;
      height: 30px;
      object-fit: cover;
      border-radius: 30%;
    }

    #google_translate_element{
      display: none;
    }

    .goog-te-banner-frame.skiptranslate {
      display: none !important;
      } 
  body {
      top: 0px !important; 
      }

      /* Dropdown-meny knapp för mat */
      .dropdown-btn {
        background-color: var(--secondary-color);
        color: white;
        font-size: 0.9em;
        border: 1px solid #FFF;
        border-bottom: none;
        border-radius: 10px 10px 0 0;
        padding: 0 2.5em;
        width: 100%;
        text-align: center;
        line-height: 3em;
        cursor: pointer;
      }
      
      .dropdown-menu {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #938a76ea;
        min-width: 115px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      .dropdown-content a:hover {
        background-color: #f1f1f1;
        color: black;
      }
      
      .dropdown-menu:hover .dropdown-content {
        display: block;
      }
      
      .dropdown-menu:hover .dropdown-btn {
        background-color: var(--secondary-color);
      }

      .display-none{
        display: none;
    }

    

    @keyframes vibrate {
      0% { transform: translate(0); }
      20% { transform: translate(-2px, 2px); }
      40% { transform: translate(-2px, -2px); }
      60% { transform: translate(2px, -2px); }
      80% { transform: translate(2px, 2px); }
      100% { transform: translate(0); }
    }
    
    .vibrate {
      animation: vibrate 0.2s linear;
    }

    .tab-list-container{
      top: 5em;
      width: 50%;
      right: 0;
      position: absolute;
      z-index: 1;
      background-color: white;
      color: #000000;
    }

    .tab-list{
      display: flex;
      flex-wrap: wrap;
    }

    .total-tab-price{
      border-top: #000 1px solid;
    }

    .container-header{
      padding: 0.5em;
      text-align: center;
      font-weight: bolder;
      font-size: 2em;
      color: var(--text-color);
      background-color: var(--secondary-color);
      border-radius: 2em;
      border: 1px solid var(--text-color);
      box-shadow: 0 0 2em black;
    }